<% @body_id = 'author-page' %>
<% @body_class = 'serif-headers' %>
<% cache @author do %>
<div class="row">
	<div class="alpha columns six author-photo">
		<%= image_tag @author.photo.url %>
	</div>
	<div class="omega columns ten readable-text">
		<%= display_bookmarks(@author) if gem_available? 'spree_social_bookmarks' %>
		<%= content_tag(:h1, @author.name) %>
		<%== auto_link(RDiscount.new(@author.biography || "", :smart).to_html, :html => { :encode => 'javascript' }) %>
	</div>
</div>
<div class="row">
	<div class="alpha columns six">
		<%= content_tag(:h2, t(:author_video_samples)) %>
		<%= render 'videos', :author => @author %>
	</div>
	<div class="omega columns ten">
		<%= render 'products', :author => @author %>
	</div>
</div>
<% end %>