<% @body_id = 'author-page' %>
<% @body_class = 'serif-headers' %>
<% cache @author do %>
<div class="row">
	<div class="alpha columns four author-photo">
		<%= image_tag @author.photo.url(:small) %>
	</div>
	<div class="omega columns twelve readable-text">
		<div>
			<%= display_bookmarks(@author) if gem_available? 'spree_social_bookmarks' %>
			<%= content_tag(:h1, @author.name) %>
		</div>
		<div id="author-description">
			<%== auto_link(RDiscount.new(@author.biography || "", :smart).to_html, :html => { :encode => 'javascript' }) %>
			<p>
				<%= link_to("http://twitter.com/#{@author.twitter}", class: 'btn btn-small btn-info', target:'_blank', rel:'nofollow') do %>
					<i class="icon-twitter"></i> &nbsp;<%= t(:author_on_twitter, :author => @author.name) %>
				<% end if @author.twitter.present? %>
				<%= link_to("http://facebook.com/#{@author.facebook}", class:'btn btn-small btn-primary', target:'_blank', rel:'nofollow') do %>
					<i class="icon-facebook"></i> &nbsp;<%= t(:author_on_facebook, :author => @author.name) %>
				<% end if @author.facebook.present? %>
			</p>
		</div>
	</div>
</div>

<% if @author.videos.present? %>
<div class="row">
	<%= content_tag(:h2, t(:speaker_video_samples)) %>
</div>
<div class="row" id="author-videos" data-hook='author-videos'>
	<% @author.videos.each do |video| %>
	<div class="<%= cycle('alpha', 'omega') %> columns eight">
		<%= render 'spree/products/video_player', :video => video, :html_options => { :width => 400 } %>
	</div>
	<% end %>
</div>
<% end %>

<div class="row" id="author-products">
	<%= render 'products', :author => @author %>
</div>
<% end %>