<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1>Editing Author Page</h1>

<%= render 'spree/shared/error_messages', :target => @author %>

<%= form_for [:admin, @author], :html => { :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>